* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(235, 18%, 26%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.whole-body {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 45rem;
    /* height: 70vh; */

    .content {
        margin: 15px 10px;
        /* align-items: flex-start; */
        line-height: 2.0;
        /* text-align: justify; */
        width: 50%;
        color: hsl(234, 29%, 20%);
        font-weight: 500;
        font-size: smaller;
        padding: 30px 0px;    
    }
    
}


.content h6 {
    font-size: 30px;
    display: inline;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    font-size: small;
    font-weight: 700;
}

form input {
    padding: 10px 8px;
    width: 80%;
    border-radius: 5px;
    border: 2px groove;
}

form button {
    width: 80%;
    margin-top: 0.5rem;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 10px 8px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    font-size: small;
    font-weight: 700;
}

form button:hover {
    background-color: hsl(4, 100%, 67%);
}

.img-section {
    align-items: flex-end;
}

.img-section img {
    height: 25rem;
}

.iconsText img {
    width: 0.8rem;
    height: 0.8rem;
} 

.iconsText span {
    padding-left: .5rem;
}
.attribution { 
    margin-top: 3rem;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Success State  */
.success-state {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 45rem;
    /* height: 70vh; */
}