* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(235, 18%, 26%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wholeBody {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  // display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  width: 45rem;
  /* height: 70vh; */
  

  .content {
    margin: 15px 10px;
    line-height: 2;
    width: 50%;
    color: hsl(234, 29%, 20%);
    font-weight: 500;
    font-size: smaller;
    padding: 30px 0px;

    h6 {
      font-size: 30px;
      display: inline;
      font-weight: 700;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  font-size: small;
  font-weight: 700;

  input {
    padding: 10px 8px;
    width: 80%;
    border-radius: 5px;
    border: 2px groove;
  }
}

.button {
  width: 80%;
  margin-top: 0.5rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 10px 8px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: small;
  font-weight: 700;
}

.button:hover {
  background-color: hsl(4, 100%, 67%);
}

.img-section {
  align-items: flex-end;

  img {
    height: 25rem;
  }
}

.iconsText img {
  width: 0.8rem;
  height: 0.8rem;

  span {
    padding-left: 0.5rem;
  }
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

/* Success State  */
.successState {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  border-radius: 2rem;
  width: 23rem;
  padding: 20px 0px 0px 0px;
  display: none;

  img {
    width: 4rem;
    margin: 0.5rem;
    padding: 0px 0px 0px 25px;
  }

  h6 {
    font-size: 30px;
    display: inline;
    font-weight: 700;
    padding: 15px 0px 10px 25px;
    font-size: 40px;
  }

  p {
    line-height: 1.5;
    color: hsl(234, 29%, 20%);
    font-weight: 500;
    font-size: smaller;
    padding: 15px 25px;
    width: 20rem;
  }

  .button {
    // background-color: red;
    margin: 25px;
    width: 18rem;
  }
}
