@font-face {
  font-family: robotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
  // margin: 0; /* Remove default browser margins */
  

}


body {
  font-family: robotoRegular;
  background-color: hsl(234, 29%, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px; /* Leave a space between the card and the footer */
}

.wholeBody {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

  .content {
    width: 60%;
    list-style-image: url(../images/icon-list.svg);
    padding: 20px;

    h1 {
      font-family: robotoBold;
      font-size: 50px;
    }

    li  {
      padding: 5px 0px;
    } 
    

    form input {
      padding: 15px;
      border: 1px solid hsl(231, 7%, 60%);
      border-radius: 5px;
      width: 90%;
      cursor: text;

    }

    form button {
      width: 90%;
      padding: 18px;
      margin-top: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: hsl(235, 18%, 26%);
      color: hsl(0, 0%, 100%);
    }

    form button:hover { 
      cursor: pointer;
      background-color: hsl(4, 100%, 67%);
    }
  }

  .img-section {
    width: 40%;

    img {
      width: 100%;
      height: 75vh;
    }
  }
}

// Javascript update 
.hide {
  display: none;
}

// Success page styling 

.successState {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 400px;
  padding: 40px;
  margin: 50px 0% 20px 0%;

  img {
    margin: 15px 0px;
  }
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  img {
    align-items: left;
    display: block;
    justify-content: left;
  }

  h1 {
    font-family: robotoBold;
    margin: 5px;
  }

  p {
    padding: 15px 10px;
    line-height: 25px;
    margin: 0;
  }
  
  button {
    width: 90%;
    padding: 14px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
  }

  button:hover { 
    cursor: pointer;
    background-color: hsl(4, 100%, 67%);
  }
}

// Responsiveness 

@media (max-width:760px) {
  body {
    height: auto;
  }

 .wholeBody {
  flex-direction: column-reverse;
  margin: 0px;

  .content {
    width: 100%;

    h1 {
      font-size: 30px;
    }
  }

  .img-section {
    width: 100%;

    img {
      content: url(../images/illustration-sign-up-mobile.svg);
      height: auto;
    }
  }
 }

 .successState {
  height: 80vh;
 }

}