* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(235, 18%, 26%) ;
}

.whole-body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 10rem; */
    border-radius: 2rem;
    width: 50rem;
    /* height: 30vh; */
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.content {
    margin: 10px;
    align-items: flex-start;
    line-height: 2.5;
    text-align: justify;
    width: 50%;
}

.content h1 {
    font-size: 700;
    color: hsl(234, 29%, 20%);
}

.img-section {
    align-items: flex-end;
}

.img-section img {
    height: 15rem;
}